body {
  font-family: 'Droid Sans Mono';
  font-size: 16px;  
  padding-top: 50px;
  background: #EDEDED;
}

.blog-content {
  background: #FFFFFF;
  padding: 1em 3em 1em 3em;
  border: 1px solid #BBB;
  box-shadow: #cfcfcf 2px 2px 1px 0px;
  border-radius: 4px;
  margin-bottom: 1em;
  margin-top: 1em;
  text-align: justify;
  text-indent: 3em;
}

.blog-content > p.button-lean-more {
  padding-left: 3em;
  text-indent: 0em;
}

.blog-content > p.tags {
  text-indent: 0em;
  line-height: 3em;
  text-align: center;
}

.blog-content > ul > li > p {
  text-indent: 0.5em;
  text-align: left;
}

.blog-content > ul > li {
  text-indent: 0.5em;
  text-align: left;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #dddddd;
}

.page-header {
  border-bottom: 0px solid #dddddd;
}

.blog-datetext {
/*  text-decoration: underline;*/
  text-align: right;
  text-indent: 0em;
  color: #666666;
}

code {
  font-family: 'Droid Sans Mono';
  font-size: 15px;
  text-indent: 0px;
  text-indent: 0px;
}

pre {
  font-family: 'Droid Sans Mono';
  font-size: 15px;
  text-align: left;
  text-indent: 0px;
}

.center-image
{
    margin: 0 auto;
    display: block;
}

.center-text
{
  text-align: center;
}
