body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
  font-size: 18px;
  padding-top: 50px;
  background: #FFFFFF;
}

.blog-content {
  background: #FFFFFF;
}

.blog-datetext {
  text-align: right;
  color: #666666;
}

code {
  font-family: 'Droid Sans Mono';
  font-size: 14px;
}

pre {
  font-family: 'Droid Sans Mono';
  font-size: 14px;
}

a {
  word-wrap: break-word;
}

div.post-image-container {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #F8F3EA;
  border: 1px solid rgba(221,177,170,0.3);
  display: table;
  margin: 0em auto 1em auto;
  border-radius: 4px;
}

div.post-image-container img.post-image-img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  height: auto;
}

div.post-image-container div.post-image-caption {
  padding: 0.5em 1em 0.5em 1em;
  text-align: center;
  font-style: italic;
  display: block;
}

.hr-disqus-copyright {
  color: #ddd;
  background-color: #ddd;
  border-color: #ddd;
}

.hr-for-mobile {
  color: #ddd;
  background-color: #ddd;
  border-color: #ddd;
}

div.copyright {
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-top: 0em;
}

@media (min-width: 992px) {
  body {
      background: #EDEDED;
  }

  .hr-for-mobile {
    clear: both;
    visibility: hidden;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }

  .blog-content {
    background: #FFFFFF;
    padding: 1em 3em 1em 3em;
    border: 1px solid #BBB;
    box-shadow: #cfcfcf 2px 2px 1px 0px;
    border-radius: 4px;
    margin-bottom: 1em;
    margin-top: 1em;
  }
}
