---
layout: page
title: Блог
permalink: /blog.html
---
{% for post in site.posts %}
  <div class="blog-content blog-red-line">  
  <h3 class="text-center">
    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
  </h3>    
  <p class="blog-datetext"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{ post.date | date: "%Y.%m.%d %H:%M"}}</p>
  <br>
  
  {{ post.content | split:'<!--more-->' | first }}  
  <p class="button-lean-more"><a class="btn btn-primary btn-lg" href="{{ post.url | prepend: site.baseurl }}" role="button">Читать статью</a></p>

  <hr>
  <p class="tags">
  {% for tag in post.tags %}
    <a class="btn btn-primary" href="/tags.html#{{tag}}">
     <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
      {{tag}} <span class="badge">{{ site.tags[tag].size }}</span>
    </a>
  {% endfor %}
  </p>
  
  </div>
{% endfor %}
