---
layout: page
title: Метки
permalink: /tags.html
---
<div class="blog-content">
  <h3 class="text-center">Метки</h3>
  <br>

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    {% for tag in site.tags | sort %}
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading-{{tag.first}}">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#tag-{{tag.first}}" aria-expanded="false" aria-controls="{{tag.first}}">
            {{tag.first}} ({{ site.tags[tag.first].size }})
          </a>
        </h4>
      </div>
      <div id="tag-{{tag.first}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{tag.first}}">
        <div class="panel-body">
          <ul>
          {% for post in site.posts %}
            {% if post.tags contains tag.first %}
              <li class="text-left"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%Y.%m.%d %H:%M"}} - {{ post.title }}</a></li>
            {% endif %}
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
