@font-face {
    font-family: 'Droid Sans Mono';
    src: local('Droid Sans Mono'), local('DroidSansMono'), url('droidsansmono.woff2') format('woff2'), url('droidsansmono.woff') format('woff'), url('droidsansmono.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
