<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    <link rel='shortcut icon' type='image/png'    href='/favicon.png' />
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- Bootstrap -->
    <link href="/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- fonts -->
    <link href="/font/droidmono.css" rel="stylesheet">

    <!-- My styles -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/codestyle.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse navbar-left">
          <ul class="nav navbar-nav">
            <li {% if page.permalink == "/index.html"    %}class="active"{% endif %}><a href="/index.html"   >Обновления</a></li>
            <li {% if page.permalink == "/articles.html" %}class="active"{% endif %}><a href="/articles.html">Каталог статей</a></li>
            <li {% if page.permalink == "/projects.html" %}class="active"{% endif %}><a href="/projects.html">Проекты</a></li>
            <li {% if page.permalink == "/about.html"    %}class="active"{% endif %}><a href="/about.html"   >О блоге</a></li>
            <li {% if page.permalink == "/feed.html "    %}class="active"{% endif %}><a href="/feed.xml"     >RSS</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Begin page content -->
    <div class="container">
      {{ content }}

      {% if page.comments %}
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
*/
var disqus_config = function () {
this.page.url = {{ page.url }};  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = {{ page.uid }}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//alekseydurachenko-github-io.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      {% endif %}
    </div>

    <hr class="hr-for-mobile">
    <div class="copyright">
    <p class="copyright">
    Все материалы сайта, если не указано иное, распространяется под
    лицензией <a class="copyright" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative
    Commons Attribution-ShareAlike 4.0 International License</a>
    (c) Алексей Дураченко.
    <br />
    <br />
    <a class="cc-emblem" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img class="cc-emblem" alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
    </p>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/libs/jquery/jquery-3.1.0.min.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/libs/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="/js/resize_figure.js"></script>
  </body>
</html>
