---
layout: default
---
<div class="blog-content blog-red-line">  
  <h3 class="text-center">
    <p>{{ page.title }}</p>
  </h3>
  <p class="blog-datetext"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{ page.date | date: "%Y.%m.%d %H:%M"}}</p>
  <br>

  {{ content }}

  <hr>
  <p class="tags">
  {% for tag in page.tags %}
    <a class="btn btn-primary" href="/tags.html#{{tag}}">
      <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>{{tag}} <span class="badge">{{ site.tags[tag].size }}</span>
    </a>
  {% endfor %}
  </p>
</div>
